@import "../../../assets/styles/main.scss";

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    padding: 27px 0;

    @include breakpoint("sm-max") {
        padding: 20px 0;
    }

    .headerDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                display: block;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 3px;

            @include breakpoint("lg-max") {
                display: none;
            }

            .menuDiv {
                position: relative;

                .menuLink {
                    padding: 8px 20px;
                    border-radius: 50px;
                    font-family: "DM sans";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;
                    color: #0f0f1a;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    cursor: pointer;
                    transition: 0.4s ease-in-out;

                    img {
                        transition: 0.3s ease-in-out;
                    }
                }

                .submenuDiv {
                    position: fixed;
                    left: 0;
                    top: 120px;
                    width: 100%;
                    max-height: 0;
                    z-index: 9;
                    overflow: hidden;
                    background-color: #fff;
                    transition: 0.5s ease-in-out;

                    .submenuDivGrid {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 40px;
                        padding: 40px 0 60px 0;

                        .submenuDivGridContent {
                            padding: 30px;
                            border: 1px solid #e6e6e6;
                            border-radius: 14px;

                            h2 {
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 26px;
                                letter-spacing: -0.01em;
                                color: #0b0b14;
                            }

                            p {
                                margin: 10px 0 20px 0;
                                font-family: "DM sans";
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                color: #737373;
                            }

                            a {
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                font-family: "DM sans";
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 26px;
                                color: #014eff;

                                svg {
                                    fill: #014eff;
                                    transition: 0.3s ease-in-out;
                                }

                                &:hover {
                                    text-decoration-line: underline;

                                    svg {
                                        transform: translateX(6px);
                                        transition: all 0.3s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .menuLink {
                        background-color: #e6edff;
                        transition: 0.3s ease-in-out;

                        img {
                            transition: 0.3s ease-in-out;
                            transform: rotate(-180deg);
                        }
                    }

                    .submenuDiv {
                        max-height: 100vh;
                        transition: 0.5s ease-in-out;
                    }
                }
            }
        }

        .contactMenu {
            @include breakpoint("lg-max") {
                margin-right: 55px;
            }

            .contactButton {
                @include breakpoint("sm-max") {
                    display: none;
                }
            }

            .menuIcon {
                position: fixed;
                z-index: 9999;
                right: 20px;
                top: 30px;
                display: none;
                cursor: pointer;

                @include breakpoint("lg-max") {
                    display: block;
                }

                .ham {
                    cursor: pointer;
                    transition: transform 400ms;
                    user-select: none;
                }
                .line {
                    fill: none;
                    transition:
                        stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: #014eff;
                    stroke-width: 5;
                    stroke-linecap: round;
                }
                .top {
                    stroke-dasharray: 40 120;
                }
                .bottom {
                    stroke-dasharray: 40 120;
                }
                .ham2.active .top {
                    stroke-dashoffset: -100px;
                }
                .ham2.active .bottom {
                    stroke-dashoffset: -100px;
                }
            }
        }
    }
}
