@import "../../../../assets/styles/main.scss";

.mauritiusInput {
    margin: 120px 0;

    .inputGrid {
        display: grid;
        grid-template-columns: 41% 1fr;
        align-items: start;
        gap: 30px;

        .inputGridDiv {
            h2 {
                font-size: 48px;
                font-weight: 600;
                line-height: 70px;
                letter-spacing: -0.01em;
                color: #0b0b14;
                margin-top: 4px;
            }

            p {
                font-family: "DM sans";
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                color: #737373;
            }
        }

        form {
            padding: 40px 40px 42px 40px;
            border-radius: 34px;
            background: #f1f2f4;

            .formDivOne {
                margin-bottom: 40px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }

            .inputBox, .inputBox2 {
                label {
                    font-family: "Poppins";
                    display: block;
                    margin-bottom: 14px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    color: #0b0b14;
                }

                input,
                textarea,
                select {
                    font-family: "DM sans";
                    background-color: #f1f2f4;
                    padding: 14px 21px;
                    border-radius: 25px;
                    border: 1px solid #cccccc;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #0b0b14;

                    &:focus {
                        outline: none;
                    }
                }

                select {
                    padding: 16px 21px 17px 21px;
                }

                ::placeholder {
                    color: #737373;
                }
            }

            .inputBox2 {
                margin-bottom: 46px;
            }
        }
    }
}
