@import "../../../../assets/styles/main.scss";

.crmBanner {
    margin-bottom: 400px;

    @include breakpoint("sm-max") {
        margin-bottom: 270px;
    }

    .crmBannerinner {
        width: 100%;
        padding: 100px 30px 400px 30px;
        background-color: #e6edff;
        border-radius: 34px;
        position: relative;

        @include breakpoint("sm-max") {
            padding: 50px 20px 200px 20px;
            border-radius: 20px;
        }

        .crmBannerbottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            img {
                object-fit: cover;
            }
        }

        .crmBannerLineRight,
        .crmBannerLineLeft {
            position: absolute;
            top: 0;
            height: 100%;
        }

        .crmBannerLineRight {
            right: 8%;
        }

        .crmBannerLineLeft {
            left: 8%;
        }

        .crmBannerDetail {
            max-width: 1174px;
            margin: 0 auto 60px auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint("sm-max") {
                margin: 0 0 30px 0;
            }

            h2 {
                color: #0b0b14;
                font-size: 64px;
                font-weight: 600;
                line-height: 77px;
                letter-spacing: -0.01em;
                text-align: center;
                margin: 4px 0 16px 0;

                @include breakpoint("sm-max") {
                    font-size: 40px;
                    line-height: 45px;
                    margin: 4px 0 10px 0;
                    word-break: break-word;
                }
            }

            p {
                font-family: "DM sans";
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                text-align: center;
                color: #595959;

                @include breakpoint("sm-max") {
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        .crmBannerImgDiv {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            .crmBannerImg {
                position: absolute;

                img {
                    width: 100%;
                    max-height: 670px;
                    max-width: 1030px;
                    object-fit: cover;
                    object-position: 0 0;
                    border-radius: 20px;
                    border: 6px solid #d9e4ff;
                    box-shadow: 0px 4px 54px 0px #014eff24;

                    @include breakpoint("sm-max") {
                        max-height: 400px;
                    }
                }
            }
        }
    }
}
