@import "variables";
@import "mixins";
@import "theming";
@import "typography";
@import "animations";
@import "buttons";
@import "inputs";
@import "select";

// container utility
.container {
  max-width: calc(1600px + 60px);
  margin: 0 auto;
  padding: 0 30px;
}

.containerMax {
  max-width: calc(1860px + 60px);
  margin: 0 auto;
  padding: 0 30px;
}
