@font-face {
    font-family: "DM sans";
    src: url("../../fonts/DmSans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
