@import "../../../../assets/styles/main.scss";

.marqueeDiv {
    margin: 0 30px;
    padding: 100px 0;
    border-radius: 34px;
    background-color: #f1f2f4;

    .marqueeDivHead {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;

        h2 {
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            color: #0b0b14;
        }
    }

    .marqueeDivMain {
        overflow: hidden;

        .marqueeDivMainList {
            animation: marquee 30s linear infinite;
            display: flex;
            gap: 140px;
            align-items: center;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}