@import "../../../../assets/styles/main.scss";

.advantage {
    margin: 120px 0 100px 0;

    .container {
        max-width: 1660px;
        margin: 0 auto;
        padding: 0 30px;

        .ProcessDivGird {
            display: grid;
            grid-template-columns: 37.5% 1fr;
            align-items: center;
            gap: 75px;

            .ProcessDivGirdImg {
                max-height: 510px;
                
                img {
                    width: 100%;
                    height: 100%;
                    min-height: 510px;
                    object-fit: cover;
                    border-radius: 24px;
                }
            }

            .ProcessContent {
                a {
                    max-width: fit-content;
                    padding: 10px 17px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    color: #0b0b14;
                    background: rgba(230, 230, 255, 0.8);
                    border: 1px solid #b0b0ff;
                    border-radius: 40px;
                }

                h2 {
                    color: #0b0b14;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 70px;
                    letter-spacing: -0.01em;
                    margin: 4px 0 30px 0;
                }

                .ProcessContentList {
                    .ProcessContentListDiv {
                        display: flex;
                        gap: 14px;
                        margin-bottom: 27px;

                        &:last-child {
                            margin: 0;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 29px;
                            color: #737373;
                        }
                    }
                }
            }
        }
    }
}
