@import "../../../../assets/styles/main.scss";

.brokerage {
    padding: 120px 30px;
    margin: 120px 0;
    border-radius: 34px;
    background-color: #014eff;
    position: relative;

    .contactBannerbottom {
        position: absolute;
        left: 10px;
        bottom: 0;
        width: calc(100% - 20px);

        img {
            object-fit: cover;
        }
    }
}
