@import "../../../../assets/styles/main.scss";

.brokerage {
    padding: 120px 30px;
    margin: 120px 0;
    border-radius: 34px;
    background-color: #014eff;
    position: relative;

    @include breakpoint("lg-max") {
        padding: 50px 20px;
    }

    @include breakpoint("sm-max") {
        padding: 30px 0;
        margin: 60px 0;
        border-radius: 20px;
    }

    .contactBannerbottom {
        position: absolute;
        left: 10px;
        bottom: 0;
        width: calc(100% - 20px);

        img {
            object-fit: cover;
        }
    }

    .crmBannerLineRight,
    .crmBannerLineLeft {
        position: absolute;
        top: 0;
        height: 100%;
    }

    .crmBannerLineRight {
        right: 8%;
    }

    .crmBannerLineLeft {
        left: 8%;
    }
}
