@import "../../../../assets/styles/main.scss";

.brokerage {
    padding: 120px 0;
    margin-bottom: 120px;
    border-radius: 34px;
    background-color: #014eff;
    position: relative;

    .contactBannerbottom {
        position: absolute;
        left: 10px;
        bottom: 0;
        width: calc(100% - 20px);

        img {
            object-fit: cover;
        }
    }

    .brokerageHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

        h2 {
            max-width: 1212px;
            color: #ffffff;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;
            margin-top: 12px;
        }
    }

    .brokerageGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-bottom: 115px;

        .brokerageGridBox {
            padding: 40px;
            border-radius: 22px;
            background: rgba(176, 200, 255, 0.2);

            .brokerageGridIcon {
                display: flex;
                align-items: center;
                gap: 24px;
                margin-bottom: 30px;

                .clockWorkBoxImg {
                    width: 80px;
                    height: 80px;
                    background: rgba(230, 237, 255, 0.3);
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        position: absolute;
                    }
                }

                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #fff;
                }
            }
            .ProcessContentList {
                .ProcessContentListDiv {
                    display: flex;
                    gap: 14px;
                    margin-bottom: 18px;

                    &:last-child {
                        margin: 0;
                    }

                    p {
                        font-family: "DM sans";
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 29px;
                        color: #e6e6e6;
                    }
                }
            }
        }
    }

    .brokerageGrid2 {
        padding: 0 38px 20px 40px;
        margin: 0 40px;
        border-bottom: 1px solid #b0c8ff;
        display: flex;
        gap: 47px;

        .brokerageGrid2Box {
            max-width: 290px;

            h4 {
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                margin-bottom: 10px;
            }

            p {
                font-family: "DM sans";
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: #dbdbdd;
            }
        }

        .brokerageGrid2BoxLine {
            border-right: 1px solid #b0c8ff;
        }
    }
}
