@import "../../../../assets/styles/main.scss";

.brokerage {
    padding: 120px 30px;
    margin-bottom: 270px;
    border-radius: 34px;
    background-color: #014eff;
    position: relative;

    @include breakpoint("lg-max") {
        padding: 50px 20px;
        margin-bottom: 120px;
    }

    @include breakpoint("sm-max") {
        padding: 30px 0;
        margin-bottom: 60px;
    }

    .contactBannerbottom {
        position: absolute;
        left: 10px;
        bottom: 0;
        width: calc(100% - 20px);

        img {
            object-fit: cover;
        }
    }

    .brokerageDiv {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 52.5%;
        gap: 30px;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;
            gap: 50px;
        }

        .brokerageHead {
            max-width: 650px;
            position: relative;
            z-index: 2;

            h2 {
                font-size: 48px;
                font-weight: 600;
                line-height: 64px;
                letter-spacing: -0.01em;
                color: #ffffff;
                margin-bottom: 46px;

                @include breakpoint("sm-max") {
                    font-size: 30px;
                    line-height: 42px;
                    margin-bottom: 30px;
                }
            }
        }

        .brokerageImgae {
            position: relative;

            .brokerageImgaeDiv {
                position: absolute;
                top: 0;
                left: 0;
                
                @include breakpoint("lg-max") {
                    position: relative;
                }

                img {
                    width: 100%;
                    height: auto;
                    max-height: 600px;
                    object-fit: cover;
                    border-radius: 24px;

                    @include breakpoint("sm-max") {
                        max-height: 400px;
                    }
                }
            }
        }
    }
}
