@import "../../../../assets/styles/main.scss";

.plugged {
    margin: 120px 0;

    @include breakpoint("sm-max") {
        margin: 60px 0;
    }

    .pluggedDiv {
        display: grid;
        grid-template-columns: 1fr 53%;
        align-items: center;
        gap: 30px;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;
        }

        .pluggedDetail {
            max-width: 685px;

            h2 {
                color: #0b0b14;
                font-size: 48px;
                font-weight: 600;
                line-height: 70px;
                margin: 4px 0 16px 0;
                letter-spacing: -0.01em;

                @include breakpoint("sm-max"){
                    font-size: 30px;
                    line-height: 42px;
                    margin: 4px 0 10px 0;
                }
            }

            p {
                font-family: "DM sans";
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                color: #737373;

                @include breakpoint("sm-max"){
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .pluggedDivImg {
            img {
                width: 100%;
                height: auto;
                max-height: 550px;
                border-radius: 24px;
                object-fit: cover;

                @include breakpoint("sm-max"){
                    max-height: 400px;
                }
            }
        }
    }
}
