@import "../../../../assets/styles/main.scss";

.faqDiv {
    margin: 120px 0;

    @include breakpoint("sm-max") {
        margin: 60px 0;
    }

    .faqDivHead {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;

        h2 {
            margin-top: 4px;
            color: #0b0b14;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;

            @include breakpoint("sm-max"){
                font-size: 30px;
                line-height: 42px;
            }
        }
    }

    .faqDivMain {
        .faqDivBox {
            padding: 35px 0;
            border-bottom: 1px solid #bfbfbf;
            position: relative;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            @include breakpoint("sm-max"){
                padding: 20px 0;
            }

            .faqDivBoxHead {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #0f0f14;

                    span {
                        margin-right: 24px;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    border: 1px solid #bfbfbf;
                    transition: 0.3s ease-in-out;
                }

                .rotateIcon {
                    transform: rotate(180deg);
                }
            }

            .faqContent {
                max-height: 0;
                overflow: hidden;
                transition: 0.3s ease-in-out;

                p {
                    margin-top: 12px;
                    font-family: "DM sans";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #737373;

                    @include breakpoint("sm-max") {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            .faqContentOpen {
                max-height: 100vh;
            }

            &:last-child {
                padding: 35px 0 0 0;
                border: none;
            }
        }
    }
}
