@import "../../../../assets/styles/main.scss";

.heroBanner {
    margin-bottom: 400px;

    @include breakpoint("sm-max") {
        margin-bottom: 270px;
    }

    .heroBannerinner {
        width: 100%;
        padding: 100px 30px 400px 30px;
        background-color: #e6edff;
        border-radius: 34px;
        position: relative;

        @include breakpoint("sm-max") {
            padding: 50px 20px 200px 20px;
            border-radius: 20px;
        }

        

        .heroBannerbottom {
            position: absolute;
            bottom: 0;
            left: 10px;
            width: calc(100% - 20px);

            img {
                object-fit: cover;
            }
        }

        .heroBannerLineRight,
        .heroBannerLineLeft {
            position: absolute;
            top: 0;
            height: 100%;
        }

        .heroBannerLineRight {
            right: 8%;
        }

        .heroBannerLineLeft {
            left: 8%;
        }

        .heroBannerDetail {
            position: relative;
            z-index: 1;
            max-width: 1174px;
            margin: 0 auto 50px auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint("sm-max") {
                margin: 0 0 30px 0;
            }

            .heroBannerDetailHead {
                h2 {
                    margin: 10px 0;
                    color: #0b0b14;
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 77px;
                    letter-spacing: -0.01em;
                    text-align: center;

                    @include breakpoint("sm-max") {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }

            p {
                margin: 16px 0 40px 0;
                max-width: 936px;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                text-align: center;
                color: #595959;

                @include breakpoint("sm-max") {
                    font-size: 16px;
                    line-height: 24px;
                    margin: 10px 0 20px 0;
                }
            }
        }

        .sliderMain {
            display: flex;
            justify-content: center;

            .sliderContainer {
                position: absolute;
                width: calc(100% - 60px);
                max-width: 1030px;
                overflow: hidden;
                border: 6px solid #d9e4ff;
                box-shadow: 0px 4px 54px 0px #014eff24;
                border-radius: 20px;

                @include breakpoint("sm-max") {
                    width: calc(100% - 40px);
                }

                img {
                    display: block;
                    width: 100%;
                    max-height: 670px;
                    object-fit: cover;
                    object-position: 0 0;

                    @include breakpoint("sm-max") {
                        max-height: 400px;
                    }
                }
            }
        }
    }
}
