@import "../../../../../assets/styles/main.scss";

.tadingDiv {
    h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: #0f0f1a;
        margin-bottom: 40px;

        @include breakpoint("sm-max") {
            margin-bottom: 20px;
        }
    }

    .tadingDivGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 26px;

        @include breakpoint ("lg-max") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1, 1fr);
        }

        .tadingDivGridBox {
            background-color: #e6edff;
            padding: 30px;
            border-radius: 20px;

            .tadingBoxRange {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                input {
                    margin: 0;
                    appearance: none;
                    width: 26px;
                    height: 26px;
                    background-color: transparent;
                    border: 2px solid #014eff;
                    border-radius: 50%;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: "";
                        width: 17px;
                        height: 17px;
                        background-color: transparent;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                input:checked {
                    border-color: #014eff;

                    &::after {
                        background-color: #014eff;
                    }
                }
            }

            h4 {
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: -0.01em;
                color: #0b0b14;
                margin-bottom: 6px;
            }

            p {
                font-family: "DM sans";
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: -0.01em;
                color: #595959;
            }

            .tadingBoxPrice {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 20px;

                span {
                    font-family: "DM sans";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: -0.01em;
                    color: #595959;
                }

                h5 {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: -0.01em;
                    color: #0b0b14;
                    text-align: right;
                }
            }
        }
    }
}
