@import "../../../../assets/styles/main.scss";

.clockWork {
    margin: 120px 0;

    @include breakpoint("sm-max") {
        margin: 60px 0;
    }

    .clockWorkDetail {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

        @include breakpoint("sm-max") {
            margin-bottom: 30px;
        }

        h2 {
            color: #0b0b14;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;

            @include breakpoint("sm-max") {
                font-size: 30px;
                line-height: 42px;
            }
        }
    }

    .clockWorkBox,
    .clockWorkBox2,
    .clockWorkBox3 {
        background: #f6f6f8;
        border-radius: 34px;
        padding: 62px;
        display: grid;
        grid-template-columns: auto 450px;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 120px;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;
        }

        @include breakpoint("sm-max") {
            padding: 30px 20px;
            margin-bottom: 60px;
            border-radius: 20px;
        }

        .clockWorkBoxImg {
            @include breakpoint("lg-max") {
                display: flex;
                justify-content: center;
            }

            img {
                @include breakpoint("sm-max") {
                    max-height: 400px;
                }
            }
        }

        .clockWorkBoxDetail {
            max-width: 880px;

            h3 {
                margin-bottom: 12px;
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
                color: #0b0b14;
                display: flex;
                align-items: center;
                gap: 26px;

                @include breakpoint("sm-max") {
                    font-size: 20px;
                    line-height: 25px;
                    gap: 20px;
                }

                span {
                    font-size: 50px;
                    font-weight: 300;
                    line-height: 60px;
                    color: #cccccc;

                    @include breakpoint("sm-max") {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }

            p {
                font-family: "DM sans";
                font-size: 20px;
                font-weight: 400;
                line-height: 29px;
                color: #737373;

                @include breakpoint("sm-max") {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            .clockWorkBoxContent {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                margin-top: 59px;

                @include breakpoint("md-max") {
                    grid-template-columns: 1fr;
                    gap: 20px;
                }

                @include breakpoint("sm-max") {
                    margin: 40px 0;
                }

                .clockWorkBoxContent1 {
                    .clockWorkBoxImg {
                        width: 80px;
                        height: 80px;
                        background-color: #e6edff;
                        border-radius: 50px;
                        border: 1px solid #b0c8ff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        @include breakpoint("sm-max") {
                            width: 60px;
                            height: 60px;
                        }

                        img {
                            position: absolute;

                            @include breakpoint("sm-max") {
                                max-width: 30px;
                                height: auto;
                            }
                        }
                    }

                    h4 {
                        margin: 20px 0 10px 0;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 30px;
                        color: #0b0b14;

                        @include breakpoint("sm-max") {
                            margin-top: 10px;
                        }
                    }

                    p {
                        font-family: "DM sans";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 30px;
                        color: #737373;

                        @include breakpoint("sm-max") {
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }

    .clockWorkBox2 {
        grid-template-columns: 450px auto;

        @include breakpoint("lg-max") {
            grid-template-columns: 1fr;

            .clockWorkBoxImg {
                order: 2;
            }
        }
    }
}
