@import "../../../assets/styles/main.scss";

.trading {
    margin: 120px 0 100px 0;

    @include breakpoint("sm-max") {
        margin: 60px 0 50px 0;
    }

    .tradingDiv {
        background-color: #014eff;
        padding: 120px 30px;
        border-radius: 34px;
        position: relative;

        @include breakpoint("lg-max") {
            padding: 50px 20px;
            border-radius: 20px;
        }

        @include breakpoint("sm-max") {
            padding: 30px 0;
        }

        .tradingLine {
            position: absolute;
            right: 110px;
            top: 0;

            @include breakpoint("lg-max") {
                right: 30px;
            }

            img {
                object-fit: cover;
            }
        }

        .contactBannerbottom {
            position: absolute;
            left: 10px;
            bottom: 0;
            width: calc(100% - 20px);

            img {
                object-fit: cover;
            }
        }

        .tradingDivMain {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            @include breakpoint("lg-max") {
                flex-wrap: wrap;
            }

            .tradingHead {
                max-width: 870px;

                h2 {
                    max-width: 1212px;
                    color: #ffffff;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 58px;
                    letter-spacing: -0.01em;
                    margin: 8px 0 16px 0;

                    @include breakpoint("sm-max") {
                        font-size: 30px;
                        line-height: 42px;
                        margin: 8px 0 10px 0;
                    }
                }

                p {
                    font-family: "DM sans";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 32px;
                    color: #e6e6e6;

                    @include breakpoint("sm-max") {
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
