@import "../../../../assets/styles/main.scss";

.calculator {
    margin: 120px 0;

    @include breakpoint("sm-max") {
        margin: 60px 0;
    }

    .calculatorHead {
        position: relative;
        max-width: 1174px;
        margin: 0 auto 60px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint("sm-max") {
            margin: 0 0 30px 0;
        }

        h2 {
            color: #0b0b14;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;
            margin: 4px 0 0 0;

            @include breakpoint("sm-max") {
                font-size: 36px;
                line-height: 42px;
                margin: 4px 0 0 0;
            }
        }
    }

    .tradingTracker {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 0;

        .tradingTrackerBox {
            position: relative;
            user-select: none;
            flex: 1;
            min-width: 145px;

            @include breakpoint("sm-max") {
                min-width: 100px;
            }

            .tracker {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #bfbfbf;
                }

                .trackerIcon {
                    position: relative;
                    z-index: 1;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #cccccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 10px;
                        width: 2px;
                        background-color: #fff;
                    }
                }
            }

            span {
                display: block;
                margin: 12px 12px 0 12px;
                text-align: center;
                font-family: "poppins";
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: -0.01em;
                color: #595959;

                @include breakpoint("sm-max") {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            &:first-child {
                &::after {
                    position: absolute;
                    top: 0;
                    content: "";
                    height: 30px;
                    width: 2px;
                    background-color: #014eff;
                }
            }

            &:last-child {
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: "";
                    height: 30px;
                    width: 2px;
                    background-color: #bfbfbf;
                }

                &.active::before {
                    background-color: #014eff;
                }
            }

            &.active {
                .tracker {
                    &::after {
                        background-color: #014eff;
                    }

                    .trackerIcon {
                        background-color: #014eff;
                    }
                }
            }
        }
    }

    .trackingButton {
        margin: 30px 0 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .trackingButtonLeft,
        .trackingButtonRight {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #e6e6e6;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;

            @include breakpoint("sm-max") {
                width: 30px;
                height: 30px;

                img {
                    width: 14px;
                }
            }

            &.disabled {
                cursor: no-drop;
                opacity: 0.5;
                pointer-events: none;
            }
        }

        .trackingButtonLeft {
            img {
                transform: rotate(90deg);
            }
        }

        .trackingButtonRight {
            img {
                transform: rotate(270deg);
            }
        }
    }

    .totalAmount {
        padding: 33px 40px;
        background-color: #e6e6ff;
        border: 1px solid #b0b0ff;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint("sm-max") {
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
        }

        p {
            font-family: "DM sans";
            font-size: 26px;
            font-weight: 500;
            line-height: 31.21px;
            letter-spacing: -0.01em;
            color: #0f0f1a;
        }

        .totalAmountTitle {
            display: flex;
            align-items: center;
            gap: 40px;

            @include breakpoint("sm-max") {
                flex-wrap: wrap;
                gap: 20px;
                width: 100%;
                justify-content: space-between;
            }

            h6 {
                font-family: "DM sans";
                font-size: 28px;
                font-weight: 600;
                line-height: 33.61px;
                letter-spacing: -0.01em;
                color: #0f0f1a;
            }
        }
    }
}
